

#aaa{
	width: 800px;
	height:600px;
	border: 1px solid #000;
	margin: 50px auto;
	z-index: 1;
	position: relative;
}
#aaa #login{
	margin-top:280px;
}

#bbb{
	width:750px;
	height:150px;
	border:1px solid #000;
	margin-top:430px;
	margin-left:24px;
	font: bold large/150% "‚l‚r –¾’©";
	color: #fff;
	font-size: 20px;
	background-color: rgba(51,00,51,0.40);
	z-index: 0;
	position: absolute;

}

#ccc{
	position:absolute; top:20px; left:900px;
}


#login{
	align: center;
	margin-top:300px;
}