

#aaa{
	width: 800px;
	height:600px;
	border: 1px solid #000;
	margin: 50px auto;
}
#aaa #login{
	margin-top:280px;
}

#bbb{
	width:750px;
	height:200px;
	border:1px solid #000;
	margin-top:380px;
	margin-left:24px;
	font: bold large/150% "‚l‚r –¾’©";

}


#login{
	align: center;
	margin-top:300px;
}